div(layout="column" layout-padding)
	div(ng-repeat="passage in passages").md-whiteframe-4dp.passage
		md-list(flex)
			md-list-item(ng-click="show(passage._id)")
				div
					h3 {{ passage.title }}
					h4 create by {{ passage.author }}
		div(layout="row" layout-align="space-around center")
			md-button.md-primary.md-raised(ng-click="edit(passage._id)") 编辑
			md-button.md-raised.md-warn(ng-click="remove(passage._id)") 删除
	div(ng-if="passages.length == 0" layout-align="center center").md-whiteframe-4dp.passage.tips
		.title.tip 
			|你还没有创建过文章，可以点击
			a(ui-sref="passage.create-passage") 这里
			|去创建文章