div(layout="column" layout-padding).md-whiteframe-4dp.passage.mt-40
	.md-title.title {{ passage.title }}
	md-content(flex layout-padding)
		p {{ passage.content }}
	span.right create by {{ passage.author}}

