div(layout="column" layout-padding).passage.md-whiteframe-4dp.mt-50
	md-list(flex layout-padding)
		md-subheader.md-no-sticky {{ "个人资料" |translate | uppercase}}
		md-list-item.md-4-line(layout-align="space-around center")
			img(alt="这是头像" ng-src="{{user.url}}").head
			div.md-list-item-text(layout="column")
				p.md-title 姓名: {{ user.name }}
				p.md-title 邮箱: {{ user.email }} 
				p.md-title 手机号码: {{ user.phone }}
				p.md-title 联系方式: {{ user.link }}
	md-button.md-primary.md-hue-1(ng-click="editProfile()") 编辑资料

