#catagory.p-20
  #unlogin(ng-if="!login")
    span.ct-red 请先登录
  #islogin(ng-if="login")
    #file-list
      table.table.table-hover.table-stripe
        tr
          th 文件名
          th 预览
          th 删除
        tr(ng-repeat="file in user.files" ng-if="file.kind != 1")
          td {{ file.fileName }}
          td
            a(ng-href="{{file.pdfUrl}}" target="_Blank") 点击预览
          td(ng-click="vm.delete(file)") 点击删除
