


#mb-file-list
	mb-header
	div.path.mt-105
		span {{ vm.path }}
	div.list-container.p-12(layout="column")
		div.list-item.p-12(layout="column" ng-repeat='file in vm.files')
			div(layout="row" layout-align="start center" flex)
				div.image-box
					img(src="assets/u210.png")
				div(flex)
					span.file-name {{ file.fileName }}.{{ file.postfix }}
					div.file-info(flex layout="row" layout-align="space-between")
						span {{ file.date }}
						span {{ file.size }}
			md-divider
