<!DOCTYPE html>
<html>
	<head>
		<title>测试博客</title>
		<base href="/"></base>
		<!-- bower:css -->
	  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	  <!-- endinject -->
	  <!-- inject:css -->
	  <link rel="stylesheet" href="/tmp/app-angular/home/home.css">
	  <link rel="stylesheet" href="/tmp/app-angular/regist/regist.css">
	  <link rel="stylesheet" href="/tmp/app-angular/passage/create-passage/create-passage.css">
	  <link rel="stylesheet" href="/tmp/app-angular/passage/passage-list/passage-list.css">
	  <link rel="stylesheet" href="/tmp/app-angular/passage/show-passage/show-passage.css">
	  <link rel="stylesheet" href="/tmp/app-angular/user/profile/profile.css">
	  <!-- endinject -->
	</head>
	<body ng-app="app">
		<div layout="column" class="main">
			<div class="nav">
				<md-menu ng-controller="nav">
					<md-button class="right" ng-click="openLanMenu($mdOpenMenu, $event)" ng-cloak>{{ 
					"Language" | translate }}</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="switchCn()" ng-cloak>
								{{ "中文" | translate }}
							</md-button>
						</md-menu-item>
						<md-menu-item ng-cloak>
							<md-button ng-click="switchEn()">
								{{ "英语" | translate }}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>				
				<md-button ng-hide="login" ng-controller="LoginCtrl" ng-click="showLogin($event)" class="right" ng-cloak>{{ "登陆" | translate}}</md-button>
				<md-button ng-hide='login' ng-controller="RegistCtrl" ng-click="showRegist($event)" class="right" ng-cloak>{{ 
				"注册" | translate }}</md-button>
				<md-menu ng-show="user" ng-controller="nav">
					<md-button class="right" ng-click="openMenu($mdOpenMenu, $event)" ng-cloak>{{ user.name || translate}}</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="null" ui-sref="user.profile" ng-cloak>
								{{ "个人资料" | translate }}
							</md-button>
						</md-menu-item>
						<md-menu-item ng-cloak>
							<md-button ng-click="createPass()">
								创建文章
							</md-button>
						</md-menu-item>
						<md-menu-item ng-cloak>
							<md-button ng-click="Passages()">
								{{ "文章" | translate }}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<md-button ui-sref="home">CJGBlog</md-button>
				<md-button ui-sref="home" translate ng-cloak>{{ "主页" |translate}}</md-button>
				<md-button ui-sref="user.profile" ng-cloak>{{ "个人资料" | translate }}</md-button>
			</div>
			<div ui-view="main"></div>
		</div>
	 	<!-- bower:js -->
	  <script src="/bower_components/angular/angular.js"></script>
	  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	  <script src="/bower_components/angular-animate/angular-animate.js"></script>
	  <script src="/bower_components/angular-aria/angular-aria.js"></script>
	  <script src="/bower_components/angular-messages/angular-messages.js"></script>
	  <script src="/bower_components/angular-resource/angular-resource.js"></script>
	  <script src="/bower_components/angular-translate/angular-translate.js"></script>
	  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
	  <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	  <script src="/bower_components/moment/moment.js"></script>
	  <script src="/bower_components/angular-moment/angular-moment.js"></script>
	  <script src="/bower_components/angular-material/angular-material.js"></script>
	  <script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
	  <script src="/bower_components/angular-momentjs/angular-momentjs.js"></script>
	  <!-- endinject -->
		<!-- inject:js -->
	  <script src="/tmp/app-angular/main.js"></script>
	  <script src="/tmp/app-angular/home/app.home.js"></script>
	  <script src="/tmp/app-angular/login/login.js"></script>
	  <script src="/tmp/app-angular/regist/regist.js"></script>
	  <script src="/tmp/app-angular/passage/create-passage/create-passage.js"></script>
	  <script src="/tmp/app-angular/passage/edit-passage/edit-passage.js"></script>
	  <script src="/tmp/app-angular/passage/passage-list/passage-list.js"></script>
	  <script src="/tmp/app-angular/passage/show-passage/show-passage.js"></script>
	  <script src="/tmp/app-angular/user/profile/profile.js"></script>
	  <!-- endinject -->
	</body>
</html>