<!DOCTYPE html>
<html>
	<head>
		<title>测试博客</title>
		<base href="/"></base>
		<!-- bower:css -->
	  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	  <!-- endinject -->
	  <!-- inject:css -->
	  <link rel="stylesheet" href="/tmp/app-angular/home/home.css">
	  <!-- endinject -->
	</head>
	<body ng-app="app">
		<div layout="column" class="main">
			<div class="nav" ng-controller="navCtrl">
				<md-button ng-controller="LoginCtrl" ng-click="showLogin($event)" class="right">登陆</md-button>
				<md-button ng-click="showRegist($event)" class="right">注册</md-button>
			</div>
			<div ui-view></div>
		</div>
	 	<!-- bower:js -->
	  <script src="/bower_components/angular/angular.js"></script>
	  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	  <script src="/bower_components/angular-animate/angular-animate.js"></script>
	  <script src="/bower_components/angular-aria/angular-aria.js"></script>
	  <script src="/bower_components/angular-messages/angular-messages.js"></script>
	  <script src="/bower_components/angular-material/angular-material.js"></script>
	  <!-- endinject -->
		<!-- inject:js -->
	  <script src="/tmp/app-angular/main.js"></script>
	  <script src="/tmp/app-angular/home/app.home.js"></script>
	  <script src="/tmp/app-angular/login/login.js"></script>
	  <!-- endinject -->
	</body>
</html>