div.navbar-default.navbar-fixed-top(layout="row" layout-align="space-between" flex="100").mh-top
  span.glyphicon.glyphicon-arrow-left.left.fs-40.mt-30.ml-20(ng-click="routeback()") 返回
  span.fs-40.mt-20 汤臣倍健
  span.glyphicon.glyphicon-user.fs-30.mt-32.mr-20