<!DOCTYPE html>
<html>
	<head>
		<title>测试博客</title>
		<base href="/"></base>
		<!-- bower:css -->
	  <!-- bower installed css files will go here... -->
	  <!-- endinject -->
	  <!-- inject:css -->
	  <!-- built css files will go here... -->
	  <!-- endinject -->
	</head>
	<body ng-app="app">
		<div layout="column" class="main">
			<div class="nav">
				<md-button ng-hide="login" ng-controller="LoginCtrl" ng-click="showLogin($event)" class="right">登陆</md-button>
				<md-button ng-hide='login' ng-controller="RegistCtrl" ng-click="showRegist($event)" class="right">注册</md-button>
				<md-menu ng-show="user" ng-controller="nav">
					<md-button class="right" ng-click="openMenu($mdOpenMenu, $event)">{{ user.name }}</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="null" ui-sref="user.profile">
								个人资料
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="createPass()">
								创建文章
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="Passages()">
								文章
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<md-button ui-sref="home">主页</md-button>
				<md-button ui-sref="user.profile">个人资料</md-button>
			</div>
			<div ui-view="main"></div>
		</div>
	 	<!-- bower:js -->
	  <!-- bower installed scripts will go here... -->
	  <!-- endinject -->
		<!-- inject:js -->
	  <!-- the rest of the *.js files will be injected here -->
	  <!-- endinject -->
	</body>
</html>