div(layout="column")
	md-content
		md-list(flex layout-padding)
			md-subheader.md-no-sticky {{ "passage" |translate | uppercase}}
			md-list-item.md-2-line(ng-repeat = 'post in posts' ng-click="show(post._id)")
				div.md-list-item-text(layout="column")
					div.md-title {{ post.title }}
					p.right_author create by {{ post.author}}