div(layout="column").md-whiteframe-4dp.createPass.layout-padding
	form(name="passForm" layout="column")
		md-input-container
			label 标题
			input(ng-model="title")
		md-input-container
			label 正文
			textarea(row="6" md-no-resize max-rows="6")
