div(layout="column" layout-padding).md-whiteframe-4dp.passage.mt-50
	form(name="passForm" layout="column")
		md-input-container
			label 标题
			input(ng-model="title" name="title" required)
			div(ng-messages="passForm.title.$error")
				div(ng-message="required") 标题不能为空
		div(text-angular ng-model="content")
		md-button.md-primary.md-accent(ng-click="submit()" ng-disabled="!passForm.$valid") 创建
