div(layout="column").md-whiteframe-4dp.createPass.layout-padding
	form(name="passForm" layout="column")
		md-input-container
			label 标题
			input(ng-model="title" name="title" required)
			div(ng-messages="passForm.title.$error")
				div(ng-message="required") 标题不能为空
		textarea(rows="15" layout-padding required ng-model="content" name="content").content
		md-input-container
			div(ng-messages="passForm.content.$error" ng-show='passForm.content.$dirty').error
				div(ng-message="required") 内容不能为空
		md-button.md-primary.md-accent(ng-click="submit()") 创建
